{% extends '!layout.html' %}

{% block footer %}
<div class="footer" role="contentinfo">
<a href="https://www.nimh.nih.gov/site-info/accessibility"
   target="_blank">Accessibility</a>
&nbsp;
<a href="https://www.hhs.gov/web/policies-and-standards/hhs-web-policies/privacy/index.html"
   target="_blank">Privacy Policy</a>
&nbsp;
<a href="https://www.nih.gov/institutes-nih/nih-office-director/office-communications-public-liaison/freedom-information-act-office"
   target="_blank">FOIA</a>
&nbsp;
<a href="https://www.hhs.gov/vulnerability-disclosure-policy/index.html"
   target="_blank">HHS Vulnerability Disclosure</a>
&nbsp;
<a href="https://www.hhs.gov/"
   target="_blank">HHS</a>
&nbsp;
<a href="https://www.nimh.nih.gov/" 
   target="_blank">NIMH/NIH</a>
</div>
{% endblock %}
